{% if page.sections|length > 0 %}
	<strong> {{ 'lwc_cms.ui.sections'|trans }}: </strong>
	{% for section in page.sections %}
	    <a href="{{ path('lwc_cms_frontend_page_index_by_section_code', {'sectionCode' : section.code}) }}" class="ui label">{{ section.name }}</a>
	{% endfor %}
{% endif %}
