#Lwc-cms-resource-preview-modal {
    height: 90%;
}

#Lwc-cms-resource-preview-modal iframe {
    width: 100%;
    height: 600px;
}

#Lwc-cms-resource-preview-modal .ui.header {
    padding-bottom: 0;
}

.Lwc-cms-import .ui.action.input input[type="file"] {
    display: none;
}

.Lwc-cms-import .ui.action.input input[type="text"] {
    width: auto;
}
