<div class="ui longer fullscreen modal scrolling" id="Lwc-cms-resource-preview-modal">
    <div class="ui header form">
        <div class="two fields">
            {{ render(url('lwc_cms_admin_partial_locale_index', {'template': '@LwcCms/Modal/_localeSwitch.html.twig'})) }}
        </div>
    </div>
    <div class="content ui loadable form loading">
        <iframe frameBorder="0"></iframe>
    </div>
</div>
